@font-face {
  font-family: "Cormorant";
  src: url("fonts/CormorantInfant-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 18px;
  line-height: 135%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fafafa;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

a {
  color: var(--black);
}

a:not([class]) {
  color: var(--brown);
  text-decoration: underline;
}
a:not([class]):hover {
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

iframe {
  width: 100%;
}

input:-webkit-autofill {
  background: #ffffff;
  -webkit-transition: 10000000000s linear;
  transition: 10000000000s linear;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 30px;
}
.btn {
  padding: 17px;
  background: black;
  color: white;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.gallery__item {
  display: block;
}
h2 {
  margin: 80px 0 30px 0;
}